<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Backdraft for Medium</title>
	</head>
	<body>
		<h1>Backdraft for Medium</h1>
		<form method="POST">
			<label for="post_title">Title</label>
			<input type="text" name="post_title" />
			<br />
			<label for="post_date">Date</label>
			<input type="date" name="post_date" />
			<br />
			<label for="post_body">Post</label>
			<textarea name="post_body"></textarea>
			<br />
			<input type="submit" />
		</form>
	</body>
</html>
