<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Backdraft for Medium</title>
	</head>
	<body>
		<h1>Backdraft for Medium</h1>
		<p>There was a problem :(. <a href="/auth">Try again?</a></p>
	</body>
</html>
